.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba (0, 0, 0, 0.8);
    z-index: 2;
    display: none;
    .order-popup{
        width: 400px;
        background: #FFF;
        border-radius: 10px;
        padding: 42px 40px 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &__form{
            display: none;
        }
        &__title{
            color: #444040;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 36px;
        }
        &__tel{
            padding-left: 10px 14px;
            width: 100%;
            margin-bottom: 47px;
            &:focus{
                outline: none;
            }
        }
        &__btn{
            border-radius: 5px;
            background: $blue;
            padding: 8px 30px;
            color: #FFF;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            cursor: pointer;
            margin: o auto;
            display: block;
        }
    .close{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 100%;
            height: 3px;
            background: $blue;
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 100%;
            height: 3px;
            background: $blue;
        }
    }
    }
}